
@{
    ViewBag.Title = "FileContentDemo";
}

@model byte[]

<!DOCTYPE html>
<html>
<head>
    <title>FileContentResult Demo</title>
</head>
<body>
    <h1>FileContentResult Demo</h1>
    <a href="@Url.Action("FileContentDemo")">Download File</a>
</body>
</html>


