
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Button Actions</title>

</head>
<body>



    @Html.ActionLink("Content Demo", "ContentDemo", "Test02", new { @class = "btn btn-primary", })
    @Html.ActionLink("File Content Demo", "FileContentDemo", "Test02", new { @class = "btn btn-primary", })
    @Html.ActionLink("Js Content Demo", "JavaScriptDemo", "Test02", new { @class = "btn btn-primary", })
    @Html.ActionLink("Json Content Demo", "JsonDemo", "Test02", new { @class = "btn btn-primary", })

</body>
</html>



