
@{
    ViewBag.Title = "JavaScriptDemo";
}

@model string

<!DOCTYPE html>
<html>
<head>
    <title>JavaScriptResult Demo</title>
    <script type="text/javascript">
        @Model
    </script>
</head>
<body>
    <h1>JavaScriptResult Demo</h1>
</body>
</html>


