
@{
    ViewBag.Title = "JsonDemo";
}

@model dynamic

<!DOCTYPE html>
<html>
<head>
    <title>JsonResult Demo</title>
</head>
<body>
    <h1>JsonResult Demo</h1>
    <p>Name: @Model.Name</p>
    <p>Age: @Model.Age</p>
</body>
</html>


