
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Test 2</h2><br />
<div class="d-flex justify-content-around">
    <button id="SimpleText">PRINT TEXT</button>
    <button id="BoldText">BOLD</button>
    <button id="ItalicText">ITALIC</button>
    <button id="UnderlineText">UNDERLINE</button>
    <button id="DefaultText">RESET</button>    
</div>
<br />
<p class="text-center">
    <span id="output" style=" display:none">Hello World</span>
</p>



<script src="~/Scripts/pr9.js"></script>
