@model DateTime

@{
    ViewBag.Title = "CurrentDateTime";
}


<!DOCTYPE html>
<html>
<head>
    <title>Current Date and Time</title>
</head>
<body>
    <h1>Current Date and Time:@Model.ToString()</h1>
</body>
</html>


